*{
    margin: 0;
    padding: 0;
    
}

body{
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    box-sizing: border-box;
    outline: none;
    background-color: grey;
}
.head{
    text-align: center;
    color: white;
    text-decoration: underline;
}

.element{
   width: 25px;
   height: 85px; 
   background-color: #ecf0f3;
   color: black;
   padding: 33px;
   margin: 0px 5px;
   border: 2px #d0d3d6;
   border-radius: 100px;
   cursor: pointer;
   box-shadow: 6px 6px 13px rgb(203, 199, 199),
   6px 6px 13px #d0d3d6;
}

.element_0:hover, .element:hover{
    background-color: #dee1e4;
    transform: scale(1.2);
}

.element_0 {
    width: 150px;
    height: 85px;
    background-color: #ecf0f3;
    color: black;
    padding: 33px;
    margin: 0px 5px;
    border:  2px #d0d3d6;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 6px 6px 13px rgb(203, 199, 199),
                6px 6px 13px #d0d3d6;
  }
  

.container{
    background-color: #ecf0f3 !important;
    width: auto;
    height: 600px;
    margin: 15px 570px;
    flex-direction: column;
    display: flex;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 28px;
    box-shadow: 6px 6px 13px #d0d3d6;
}
.button{
    margin: 5px 0px;    
}

#input{
    background-color: #f7ebeb;
    height: 60px;
    width: 350px;
    padding: 10px;
    margin: 20px 20px;
    border: #ecf0f3;
    border-radius: 30px;
    box-sizing: border-box;
    outline: none;
    box-shadow: inset 6px 6px 13px rgb(203, 199, 199),
    6px 6px 13px #d0d3d6;
    font-size: 30px;
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
}